{% extends 'base.html.twig' %}

{% block title %}Mon compte - Agency{% endblock %}

{% block content %}
<br/>
<h2>Mon compte</h2>

Bienvenue {{ app.user.Prenom }} dans votre compte.<br/>
<br/>
C'est dans cet espace que vous pourrez gérer vos informations personnelles.

<hr>
{% endblock %}
